nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav li {
    float: left;
}
nav li a {
    display: block;
    text-align: center;
    padding-right: .25em;
    text-decoration: none;
}
